@page "/history"
@inject IAuthService AuthService
@attribute [Authorize(Roles = "User")]
@using Newtonsoft.Json;
@using IdentityModel;
@using IdentityModel.Client;
@inject HttpClient Http

<PageTitle>Games history for </PageTitle>

<h1>Games history</h1>

@if (userGames is null)
{
    <p>Loading...</p>
}
else if (userGames.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Game Id</th>
                <th scope="col">Created</th>
                <th scope="col">State</th>
                <th scope="col">Continue</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var game in userGames)
        {
            <tr>
                <td>@game.GameId</td>
                <td>@game.Created</td>
                <td>@(game.IsFinished == true ? "game is over" : "game is active")</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    private IEnumerable<GameDTO>? userGames;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var token = await AuthService.GetHttpClientToken();
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);
            userGames = await Http.GetFromJsonAsync<List<GameDTO>>("api/game/gamesInfo");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            userGames = new List<GameDTO>();
        }

    }
}
