@page "/history"
@inject IHttpClientFactory ClientFactory
@attribute [Authorize]

<PageTitle>Games history</PageTitle>

<h1>Games history</h1>

@if (userGames is null)
{
    <p>Loading...</p>
}
else if (userGames.Count() > 0)
{
    <table>
        @foreach (var game in userGames)
        {
            <tr>
                <td>@game.GameId</td>
                <td>@game.Created</td>
                <td>@(game.IsFinished == true ? "game is over" : "game is active")</td>
                <td></td>
            </tr>
        }
    </table>
}

@code {
    private IEnumerable<GameDTO>? userGames;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var client = ClientFactory.CreateClient("Tamboliya.ServerAPI");
            userGames = await client.GetFromJsonAsync<IEnumerable<GameDTO>>($"api/Game/gamesInfo");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            userGames = new List<GameDTO>();
        }

    }
}
