@page "/"
@using System.Net.Http.Json
@using TamboliyaLibrary.DAL
@inject IJSRuntime JSRuntime

<div style="width: 990px; height:500px;background-color:blue;" id="baseImage"></div>

<PageTitle>Index</PageTitle>

<h1>Hello, gamer!</h1>

<input type="text" @bind-value="question" />
<button type="button" class="btn btn-success" onclick="@(async () => await CreateNewGame())">Start new game</button>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

@if (GameId > 0)
{
    <LogOfGame GameId="GameId" />
}





@code {
    public int? GameId { get; set; }
    private string question;
    private string pathToImage = null!;

    protected override async Task OnInitializedAsync()
    {

        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        await base.OnAfterRenderAsync(firstRender);
    }


    public async Task CreateNewGame()
    {
        if (!String.IsNullOrEmpty(question))
        {
            var gameOracle = await Http.GetFromJsonAsync<OracleDTO>($"api/Game/new?question={question}");
            GameId = gameOracle!.GameId;
            pathToImage = gameOracle!.PathToImage;
            if (pathToImage != null)
            {
                await MoveFigure(new GamePosition(100, 200, pathToImage));
            }
        }
    }

    public async Task MoveFigure(object newPosition)
    {
        await JSRuntime.InvokeVoidAsync("moveFigure", new
        {
            x = ((GamePosition)newPosition).x,
            y = ((GamePosition)newPosition).y
        });
    }
}

