@implements IAsyncDisposable
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject ILoggerFactory LoggerFactory
@inject IGameLogRepository GameLogRepo
@attribute [Authorize(Roles = "User")]
@using Microsoft.AspNetCore.SignalR.Client
@using System.Net.Http.Json


<PageTitle>Chat component</PageTitle>
@if (!GameFinished)
{
    <div class="form-group">
        <label>
            Message:
            <input @bind="messageInput" type="text" />
        </label>
    </div>
    <button @onclick="Send" disabled="@(!IsConnected)">Send</button>
}
<hr>

<ul id="messagesList">
    @foreach (var message in logLines)
    {
        <li>@message</li>
    }
</ul>

@code {
    private ILogger<Chat> logger = null!;
    private HubConnection? hubConnection;
    private List<string> logLines = new List<string>();
    private string? messageInput;
    private string? userMail;
    private string? token = null;
    [Parameter]
    public int RoomName { get; set; }
    [Parameter]
    public bool GameFinished { get; set; } = false;


    protected override async Task OnInitializedAsync()
    {
        logger = LoggerFactory.CreateLogger<Chat>();

        try
        {
            logLines = await GameLogRepo.GetGameLogLines(RoomName);
        }
        catch (Exception ex)
        {
            logger.LogWarning(ex.Message);
        }

        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        userMail = state.User.Identity?.Name;

        //TODO: create отдельный solution for chatHub
        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7127/chathub")
            .Build();

        hubConnection.On<int, string>("ReceiveMessage", (RoomName, message) =>
        {
            OnMessageFromServer(RoomName, message);
            StateHasChanged();
        });


        await hubConnection.StartAsync();
        StateHasChanged();
        await ConnectToRoom();

        await base.OnInitializedAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessageToGroup", RoomName, messageInput, userMail);
            messageInput = String.Empty;
        }
    }

    private async Task ConnectToRoom()
    {
        if (hubConnection is not null && RoomName != 0)
        {
            await hubConnection.SendAsync("JoinRoom", RoomName, userMail);
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("LeaveRoom", RoomName, userMail);
            await hubConnection.StopAsync();
            await hubConnection.DisposeAsync();
        }
    }



    public async Task AddNewMessageToChatLog(string message)
    {
        LogLineDTOModel model = new()
            {
                GameId = RoomName,
                Message = message
            };

        try
        {
            //TODO: якщо гра закінчена, заборонити користувачеві додавати нові записи в лог, а також записи про приєднання до гри
            await GameLogRepo.AddMessageToLog(model);
            logLines = await GameLogRepo.GetGameLogLines(RoomName);
        }
        catch (Exception ex)
        {
            logger.LogWarning(ex.Message);
        }

    }

    private void OnMessageFromServer(int roomName, string message)
    {
        Task.Run(async () =>
        {
            var encodedMsg = $"{message} to room #{RoomName}";
            await AddNewMessageToChatLog(encodedMsg);
            StateHasChanged();
        });
    }
}