

<h3>LogOfGame</h3>

@if (logLines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in logLines.Messages)
            {
                <tr>
                    <td>@line</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int? GameId { get; set; }

    private GameLogDTO? logLines;

    protected override async Task OnInitializedAsync()
    {
        if (GameId.HasValue && GameId > 0)
        {
            logLines = await Http.GetFromJsonAsync<GameLogDTO>($"api/Game/log/{GameId}") ?? new();
        }
    }
}
